code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

body {
  font-family: KoPubWorld Dotum Medium;
  font-size:11pt;
  line-height: 170%;
}