h1, h2, h3, h4, h5 {
	font-family:NanumSquare,Consolas;
	font-weight: bold;
	line-height: 120%;
}

h1{
	line-height: 100%;
}

.subtitle {
	font-size:18pt;
}

#table-of-contents a {
    display: inline-block;
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-family: NanumSquare;
    font-size: 12pt;
    font-weight: bold;
    color: #b3b3b3;
    direction: ltr;
    text-decoration: none;
}



#content pre code {
    font-family: Consolas,NanumSquare;
    border: none;
    background: none;
    font-size: 10pt;
    white-space: pre;
}

body {
	font-family: NanumSquare;
	font-size:11pt;
	line-height: 160%;
}

p {
	font-family: NanumSquare;
	font-size:11pt;
	line-height: 160%;
}

li {
	font-family: NanumSquare;
	font-size:11pt;
	line-height: 160%;		
}

tr {
	height: 20px;
	background-color: black;
}

tr .header {
	font-family: NanumSquare;
	font-size:12pt;
	line-height: 160%;
}

td {
	font-family: NanumSquare;
	font-size:11pt;
	line-height: 160%;
}

code {
	color: black;
	font-size: 10pt;
}